.text-20 {
  position: relative;
  line-height: 12px;
}
.head-offer,
.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.text {
  flex: 1;
}
.head-offer {
  align-self: stretch;
  background-color: var(--color-darkgray-100);
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
}
.comforta-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 75.3px;
  height: 22.8px;
}
.logo,
.text-14 {
  position: relative;
}
.logo {
  text-decoration: none;
  width: 75.6px;
  height: 23px;
}
.text-14 {
  line-height: 24px;
}
.text1 {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: inherit;
}
.text-142 {
  position: relative;
  line-height: 24px;
  font-weight: 800;
}
.menu,
.text-parent,
.text3 {
  display: flex;
  flex-direction: row;
}
.text3 {
  align-items: center;
  justify-content: center;
}
.menu,
.text-parent {
  align-self: stretch;
  justify-content: flex-start;
}
.text-parent {
  flex: 1;
  border-bottom: 1px solid var(--color-lightgray-200);
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gap-xl);
  justify-content: space-between;
}
.menu {
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  gap: var(--gap-21xl);
}
.head-offer-parent,
.header {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: var(--color-linen);
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xl) 0;
  font-size: var(--font-size-xs);
  color: var(--color-gray-400);
}
.head-offer-parent {
  align-items: center;
  justify-content: flex-start;
}
.icon {
  position: relative;
  width: 18px;
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
}
.currently-looking-at {
  font-family: var(--font-manrope);
}
.text-12 {
  position: relative;
  line-height: 18px;
  text-transform: uppercase;
}
.icon-parent {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs);
  gap: var(--gap-5xs);
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.icon1 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-group {
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs);
  gap: var(--gap-5xs);
}
.vector-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child {
  position: absolute;
  height: 18.57%;
  width: 87.86%;
  top: 6.43%;
  right: 5.71%;
  bottom: 75%;
  left: 6.43%;
  background: linear-gradient(90deg, #ef43c9, #ef436c);
}
.vector-parent {
  position: absolute;
  height: 87.5%;
  width: 87.5%;
  top: 6.25%;
  right: 6.25%;
  bottom: 6.25%;
  left: 6.25%;
}
.frame-parent,
.icon-container {
  flex-direction: row;
  justify-content: flex-start;
}
.icon-container {
  border-radius: var(--br-5xs);
  background-color: var(--color-darkslategray-100);
  display: flex;
  align-items: center;
  padding: var(--padding-9xs) var(--padding-5xs);
  gap: var(--gap-5xs);
}
.frame-parent {
  align-self: stretch;
  display: none;
  align-items: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.text-24 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 20px;
  font-weight: 600;
}
.text7,
.title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.title {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  font-size: var(--font-size-base);
}
.text-143 {
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  font-weight: 600;
}
.h2,
.text8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.h2 {
  flex-direction: column;
}
.simply-choose-your {
  margin: 0;
}
.text-fill {
  flex: 1;
  position: relative;
  letter-spacing: -0.4px;
  line-height: 20px;
}
.h2-parent,
.text26,
.text9 {
  display: flex;
  justify-content: flex-start;
}
.text9 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-dimgray);
}
.h2-parent,
.text26 {
  align-items: center;
}
.h2-parent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-xs);
}
.text26 {
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-200);
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-3xs);
}
.text-wrapper {
  align-self: stretch;
  height: 26px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: var(--font-size-sm);
  color: var(--color-gray-300);
  font-family: var(--font-roboto);
}
.text-container,
.text27,
.title-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.title-section {
  align-self: stretch;
  flex-direction: column;
  padding: 0 var(--padding-xl);
  gap: var(--gap-xl);
  font-size: var(--font-size-mid);
  color: var(--color-gray-400);
}
.text-container,
.text27 {
  flex-direction: row;
}
.text27 {
  flex: 1;
}
.text-container {
  align-self: stretch;
}
.text-fill6 {
  position: relative;
  font-size: var(--font-size-mid);
  letter-spacing: -0.4px;
  line-height: 20px;
  font-family: var(--font-manrope);
  color: var(--color-linen);
  text-align: left;
}
.text-group,
.text28 {
  display: flex;
  justify-content: center;
}
.text28 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: row;
  align-items: center;
}
.text-group {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-9xl);
}
.text-242 {
  flex: 1;
  position: relative;
  letter-spacing: -0.5px;
  line-height: 20px;
  font-weight: 600;
}
.frame-child,
.text-fill9 {
  font-family: var(--font-manrope);
}
.frame-child {
  border: 1px solid var(--color-linen);
  font-size: var(--font-size-base);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.text-fill9 {
  position: relative;
  font-size: var(--font-size-mid);
  letter-spacing: -0.4px;
  line-height: 20px;
  color: var(--color-darkgray-100);
  text-align: left;
}
.buy-now,
.frame-group,
.text-parent1 {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy-now {
  cursor: pointer;
  border: 1px solid var(--color-linen);
  padding: var(--padding-2xs) var(--padding-2xl);
  background-color: var(--color-linen);
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  height: 40px;
  flex-direction: row;
}
.frame-group,
.text-parent1 {
  flex-direction: column;
  gap: var(--gap-base);
}
.text-parent1 {
  gap: var(--gap-sm);
}
.mini-text {
  flex: 1;
  position: relative;
}
.hidden-text,
.top-text {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.top-text {
  display: flex;
}
.hidden-text {
  display: none;
}
.read-button-text {
  position: relative;
  font-size: var(--font-size-5xs);
  font-family: var(--font-manrope);
  color: var(--color-darkgray-100);
  text-align: left;
}
.read-button,
.small-info-text {
  display: flex;
  align-items: center;
}
.read-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-lg);
  background-color: var(--color-white);
  border-radius: var(--br-81xl);
  flex-direction: row;
  justify-content: center;
}
.small-info-text {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  opacity: 0.5;
  text-align: center;
  font-size: var(--font-size-5xs);
  color: var(--color-white);
}
.logo-icon {
  position: relative;
  width: 55.9px;
  height: 17px;
}
.text-201 {
  position: relative;
  line-height: 16px;
}
.logo-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-xs);
  text-align: right;
  font-size: var(--font-size-3xs);
}
.faqs-table-uk,
.footer {
  display: flex;
  flex-direction: column;
}
.footer {
  align-self: stretch;
  background-color: var(--color-darkgray-100);
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-37xl) var(--padding-xl) var(--padding-xl);
  gap: var(--gap-21xl);
  font-size: var(--font-size-base);
  color: var(--color-linen);
}
.faqs-table-uk {
  position: relative;
  background-color: var(--color-linen);
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-37xl);
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
  font-family: var(--font-manrope);
}
