.text-204 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 12px;
}
.head-offer2,
.text51 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.text51 {
  flex: 1;
}
.head-offer2 {
  align-self: stretch;
  background-color: var(--color-whitesmoke-100);
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  font-size: var(--font-size-xs);
  font-family: var(--font-sf-pro-text);
}
.logo2,
.vector-icon4 {
  width: 108px;
  height: 26px;
}
.vector-icon4 {
  position: absolute;
  top: 0;
  left: 0;
}
.logo2 {
  text-decoration: none;
  position: relative;
}
.logo-frame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-lg);
}
.text-1412 {
  position: relative;
  letter-spacing: -0.4px;
  line-height: 25px;
  font-weight: 600;
}
.text52 {
  color: var(--color-royalblue-200);
}
.header2,
.menu2,
.text52,
.text53 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.text53 {
  text-decoration: none;
  color: inherit;
}
.header2,
.menu2 {
  align-self: stretch;
  gap: var(--gap-5xl);
}
.header2 {
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5xl) 0;
  gap: var(--gap-xl);
  font-size: var(--font-size-mid);
}
.text-246 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 36px;
  font-weight: 600;
}
.text55,
.title2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.title2 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.input4,
.text-fill15 {
  font-family: var(--font-sf-pro-text);
}
.input4 {
  border: 1px solid var(--color-gray-400);
  font-size: var(--font-size-base);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-81xl);
  box-sizing: border-box;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-xl);
}
.text-fill15 {
  position: relative;
  font-size: var(--font-size-mid);
  letter-spacing: -0.4px;
  line-height: 20px;
  color: var(--color-white);
  text-align: left;
}
.text56 {
  width: 312px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.buy-now3,
.input-group,
.title-parent {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.buy-now3 {
  cursor: pointer;
  border: 1px solid var(--color-gray-300);
  padding: var(--padding-2xs) var(--padding-2xl);
  background-color: var(--color-gray-300);
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  height: 40px;
  flex-direction: row;
  justify-content: center;
}
.input-group,
.title-parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.title-parent {
  gap: var(--gap-13xl);
}
.items-left2 {
  font-family: var(--font-sf-pro-display);
}
.text-128 {
  position: relative;
  line-height: 18px;
  text-transform: uppercase;
}
.text59 {
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-3xs);
}
.text-wrapper2 {
  align-self: stretch;
  height: 26px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  font-family: var(--font-roboto);
}
.text-wrapper3,
.text60,
.title-section2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.title-section2 {
  align-self: stretch;
  background-color: var(--color-white);
  flex-direction: column;
  padding: var(--padding-49xl) var(--padding-lg);
  gap: var(--gap-29xl);
}
.text-wrapper3,
.text60 {
  flex-direction: row;
}
.text60 {
  flex: 1;
}
.text-wrapper3 {
  align-self: stretch;
}
.text-fill17 {
  position: relative;
  font-size: var(--font-size-mid);
  letter-spacing: -0.4px;
  line-height: 20px;
  font-family: var(--font-sf-pro-text);
  color: var(--color-gray-300);
  text-align: left;
}
.text-parent3,
.text61 {
  display: flex;
  justify-content: center;
}
.text61 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: row;
  align-items: center;
}
.text-parent3 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-9xl);
}
.text-249 {
  flex: 1;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 36px;
  font-weight: 600;
}
.frame-inner,
.text64 {
  align-self: stretch;
  flex-direction: row;
}
.text64 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-inner {
  border: 1px solid var(--color-gray-300);
  font-family: var(--font-sf-pro-text);
  font-size: var(--font-size-base);
  background-color: transparent;
  border-radius: var(--br-81xl);
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-xl);
}
.buy-now5,
.frame-inner,
.frame-parent2,
.text-parent4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy-now5 {
  cursor: pointer;
  border: 1px solid var(--color-gray-300);
  padding: var(--padding-2xs) var(--padding-2xl);
  background-color: var(--color-gray-300);
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  width: 354px;
  height: 40px;
  flex-direction: row;
}
.frame-parent2,
.text-parent4 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-base);
}
.text-parent4 {
  gap: var(--gap-sm);
}
.information-is-not2 {
  margin: 0;
}
.mini-text4 {
  flex: 1;
  position: relative;
}
.hidden-text2,
.text-content2 {
  align-self: stretch;
  align-items: center;
}
.hidden-text {
  display: none;
  flex-direction: row;
  justify-content: center;
}
.text-content2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.read-button-text {
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xs);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.read-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-5xs);
  background-color: var(--color-gray-300);
  border-radius: var(--br-81xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.small-info-text2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  opacity: 0.2;
  text-align: center;
  font-size: var(--font-size-5xs);
  font-family: var(--font-sf-pro-text);
}
.logo-icon2 {
  position: relative;
  width: 65.6px;
  height: 15.8px;
}
.text-205 {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 16px;
}
.text66 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer2,
.logo-parent1 {
  align-self: stretch;
  display: flex;
}
.logo-parent1 {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-xs);
  text-align: right;
  font-size: var(--font-size-xs);
  font-family: var(--font-sf-pro-text);
}
.footer2 {
  background-color: var(--color-whitesmoke-100);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-53xl) var(--padding-lg) var(--padding-xl);
  gap: var(--gap-21xl);
}
.track-your-order-anker-cube {
  position: relative;
  background-color: var(--color-gray-400);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-300);
  font-family: var(--font-sf-pro-display);
}
