@font-face {
    font-family: 'Mukta';
    src: url("../fonts/Mukta-Bold.woff2");
    font-weight: 600
}

@font-face {
    font-family: 'Mukta';
    src: url("../fonts/Mukta-ExtraBold.woff2");
    font-weight: 700
}

@font-face {
    font-family: 'Mukta';
    src: url("../fonts/Mukta-ExtraLight.woff2");
    font-weight: 200
}

@font-face {
    font-family: 'Mukta';
    src: url("../fonts/Mukta-Light.woff2");
    font-weight: 300
}

@font-face {
    font-family: 'Mukta';
    src: url("../fonts/Mukta-Medium.woff2");
    font-weight: 500
}

@font-face {
    font-family: 'Mukta';
    src: url("../fonts/Mukta-Regular.woff2");
    font-weight: 400
}

@font-face {
    font-family: 'Mukta';
    src: url("../fonts/Mukta-SemiBold.woff2");
    font-weight: 800
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url("../fonts/HelveticaNeueCyr-Bold.woff2");
    font-weight: 700
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url("../fonts/HelveticaNeueCyr-Medium.woff2");
    font-weight: 500
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url("../fonts/HelveticaNeueCyr-Roman.woff2");
    font-weight: 400
}

@font-face {
    font-family: Inter;
    src: url("../fonts/Inter-Medium.woff2");
    font-weight: 500
}

@font-face {
    font-family: 'STSong';
    src: url("../fonts/chinese.stsong.ttf");
    font-weight: 500
}