.elementor-49453 .elementor-element.elementor-element-1c766f40:not(.elementor-motion-effects-element-type-background),
.elementor-49453 .elementor-element.elementor-element-1c766f40>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #C90505;
}

.elementor-49453 .elementor-element.elementor-element-1c766f40 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-49453 .elementor-element.elementor-element-1c766f40>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-49453 .elementor-element.elementor-element-59b123ab .elementor-icon-list-icon i {
    color: var( --e-global-color-49268986);
}

.elementor-49453 .elementor-element.elementor-element-59b123ab .elementor-icon-list-icon svg {
    fill: var( --e-global-color-49268986);
}

.elementor-49453 .elementor-element.elementor-element-59b123ab {
    --e-icon-list-icon-size: 14px;
}

.elementor-49453 .elementor-element.elementor-element-59b123ab .elementor-icon-list-text {
    color: var( --e-global-color-49268986);
}

.elementor-49453 .elementor-element.elementor-element-59b123ab .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-49453 .elementor-element.elementor-element-59b123ab .elementor-icon-list-item>a {
    font-family: "Open Sans", Sans-serif;
    font-weight: 400;
}

.elementor-49453 .elementor-element.elementor-element-318c257d:not(.elementor-motion-effects-element-type-background),
.elementor-49453 .elementor-element.elementor-element-318c257d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F6F6F6;
}

.elementor-49453 .elementor-element.elementor-element-318c257d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-49453 .elementor-element.elementor-element-318c257d>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-49453 .elementor-element.elementor-element-90c48a6 .elementor-star-rating__title {
    font-family: "Open Sans", Sans-serif;
    font-size: 19px;
    font-weight: 400;
}

.elementor-49453 .elementor-element.elementor-element-90c48a6 .elementor-star-rating {
    font-size: 18px;
}

.elementor-49453 .elementor-element.elementor-element-90c48a6 .elementor-star-rating i:before {
    color: var( --e-global-color-4da300ea);
}

.elementor-49453 .elementor-element.elementor-element-374c5521 {
    text-align: center;
}

.elementor-49453 .elementor-element.elementor-element-374c5521 .elementor-heading-title {
    font-family: "Open Sans", Sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.elementor-49453 .elementor-element.elementor-element-6ba46288 {
    text-align: center;
}

.elementor-49453 .elementor-element.elementor-element-6ba46288 .elementor-heading-title {
    color: var( --e-global-color-4e47f0c4);
    font-family: "Open Sans", Sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.elementor-49453 .elementor-element.elementor-element-1ca40200 .elementor-button {
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: var( --e-global-color-4e47f0c4);
}

.elementor-49453 .elementor-element.elementor-element-1a6cae4c {
    text-align: center;
}

.elementor-49453 .elementor-element.elementor-element-1a6cae4c .elementor-heading-title {
    font-family: "Open Sans", Sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.6em;
}

.elementor-49453 .elementor-element.elementor-element-36b462a7 .elementor-heading-title {
    color: #654603;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.1em;
    letter-spacing: 0.4px;
}

.elementor-49453 .elementor-element.elementor-element-36b462a7>.elementor-widget-container {
    margin: 0px 200px 0px 0px;
    padding: 5px 5px 5px 5px;
    background-color: #FFCD02;
}

.elementor-49453 .elementor-element.elementor-element-6d47337d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
}

.elementor-49453 .elementor-element.elementor-element-6d8972ed .elementor-icon-list-icon i {
    color: var( --e-global-color-34366002);
}

.elementor-49453 .elementor-element.elementor-element-6d8972ed .elementor-icon-list-icon svg {
    fill: var( --e-global-color-34366002);
}

.elementor-49453 .elementor-element.elementor-element-6d8972ed {
    --e-icon-list-icon-size: 14px;
}

.elementor-49453 .elementor-element.elementor-element-6d8972ed .elementor-icon-list-text {
    color: var( --e-global-color-34366002);
}

.elementor-49453 .elementor-element.elementor-element-6d8972ed .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-49453 .elementor-element.elementor-element-6d8972ed .elementor-icon-list-item>a {
    font-family: "Open Sans", Sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.elementor-49453 .elementor-element.elementor-element-792d2fae {
    text-align: center;
}

.elementor-49453 .elementor-element.elementor-element-792d2fae .elementor-heading-title {
    font-family: "Open Sans", Sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.4em;
}

.elementor-49453 .elementor-element.elementor-element-48217928>.elementor-container {
    min-height: 0px;
}

.elementor-bc-flex-widget .elementor-49453 .elementor-element.elementor-element-76d95bb8.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-49453 .elementor-element.elementor-element-76d95bb8.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-49453 .elementor-element.elementor-element-76d95bb8.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-49453 .elementor-element.elementor-element-76d95bb8>.elementor-element-populated,
.elementor-49453 .elementor-element.elementor-element-76d95bb8>.elementor-element-populated>.elementor-background-overlay,
.elementor-49453 .elementor-element.elementor-element-76d95bb8>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-49453 .elementor-element.elementor-element-76d95bb8>.elementor-element-populated {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 0px 20px 0px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
}

.elementor-49453 .elementor-element.elementor-element-76d95bb8>.elementor-element-populated>.elementor-widget-wrap {
    padding: 20px 20px 20px 20px;
}

.elementor-49453 .elementor-element.elementor-element-5ff1abd0 {
    text-align: center;
}

.elementor-49453 .elementor-element.elementor-element-5ff1abd0 img {
    width: 150px;
    border-radius: 100px 100px 2px 0px;
}

.elementor-49453 .elementor-element.elementor-element-cdc3fe6.elementor-position-right .elementor-image-box-img {
    margin-left: 20px;
}

.elementor-49453 .elementor-element.elementor-element-cdc3fe6.elementor-position-left .elementor-image-box-img {
    margin-right: 20px;
}

.elementor-49453 .elementor-element.elementor-element-cdc3fe6.elementor-position-top .elementor-image-box-img {
    margin-bottom: 20px;
}

.elementor-49453 .elementor-element.elementor-element-cdc3fe6 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 23%;
}

.elementor-49453 .elementor-element.elementor-element-cdc3fe6 .elementor-image-box-img img {
    opacity: 0.8;
    transition-duration: 0.3s;
}

.elementor-49453 .elementor-element.elementor-element-cdc3fe6:hover .elementor-image-box-img img {
    opacity: 1;
}

.elementor-49453 .elementor-element.elementor-element-cdc3fe6 .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-49453 .elementor-element.elementor-element-cdc3fe6 .elementor-image-box-title {
    margin-bottom: 10px;
    color: #111111;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.elementor-49453 .elementor-element.elementor-element-cdc3fe6 .elementor-image-box-description {
    color: #7A7A7A;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.elementor-49453 .elementor-element.elementor-element-cdc3fe6>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-49453 .elementor-element.elementor-element-5e078909.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-49453 .elementor-element.elementor-element-5e078909.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-49453 .elementor-element.elementor-element-5e078909.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-49453 .elementor-element.elementor-element-5e078909>.elementor-element-populated,
.elementor-49453 .elementor-element.elementor-element-5e078909>.elementor-element-populated>.elementor-background-overlay,
.elementor-49453 .elementor-element.elementor-element-5e078909>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-49453 .elementor-element.elementor-element-5e078909>.elementor-element-populated {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 0px 20px 0px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
}

.elementor-49453 .elementor-element.elementor-element-5e078909>.elementor-element-populated>.elementor-widget-wrap {
    padding: 20px 20px 20px 20px;
}

.elementor-49453 .elementor-element.elementor-element-1369a8f6 {
    text-align: center;
}

.elementor-49453 .elementor-element.elementor-element-1369a8f6 img {
    width: 150px;
    border-radius: 100px 100px 100px 0px;
}

.elementor-49453 .elementor-element.elementor-element-434041c4.elementor-position-right .elementor-image-box-img {
    margin-left: 20px;
}

.elementor-49453 .elementor-element.elementor-element-434041c4.elementor-position-left .elementor-image-box-img {
    margin-right: 20px;
}

.elementor-49453 .elementor-element.elementor-element-434041c4.elementor-position-top .elementor-image-box-img {
    margin-bottom: 20px;
}

.elementor-49453 .elementor-element.elementor-element-434041c4 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 23%;
}

.elementor-49453 .elementor-element.elementor-element-434041c4 .elementor-image-box-img img {
    opacity: 0.8;
    transition-duration: 0.3s;
}

.elementor-49453 .elementor-element.elementor-element-434041c4:hover .elementor-image-box-img img {
    opacity: 1;
}

.elementor-49453 .elementor-element.elementor-element-434041c4 .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-49453 .elementor-element.elementor-element-434041c4 .elementor-image-box-title {
    margin-bottom: 10px;
    color: #111111;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.elementor-49453 .elementor-element.elementor-element-434041c4 .elementor-image-box-description {
    color: #7A7A7A;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.elementor-49453 .elementor-element.elementor-element-434041c4>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-49453 .elementor-element.elementor-element-2d133754.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-49453 .elementor-element.elementor-element-2d133754.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-49453 .elementor-element.elementor-element-2d133754.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-49453 .elementor-element.elementor-element-2d133754>.elementor-element-populated,
.elementor-49453 .elementor-element.elementor-element-2d133754>.elementor-element-populated>.elementor-background-overlay,
.elementor-49453 .elementor-element.elementor-element-2d133754>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-49453 .elementor-element.elementor-element-2d133754>.elementor-element-populated {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 0px 20px 0px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
}

.elementor-49453 .elementor-element.elementor-element-2d133754>.elementor-element-populated>.elementor-widget-wrap {
    padding: 20px 20px 20px 20px;
}

.elementor-49453 .elementor-element.elementor-element-139fffac {
    text-align: center;
}

.elementor-49453 .elementor-element.elementor-element-139fffac img {
    width: 150px;
    border-radius: 100px 100px 100px 0px;
}

.elementor-49453 .elementor-element.elementor-element-4e3d2e2c.elementor-position-right .elementor-image-box-img {
    margin-left: 20px;
}

.elementor-49453 .elementor-element.elementor-element-4e3d2e2c.elementor-position-left .elementor-image-box-img {
    margin-right: 20px;
}

.elementor-49453 .elementor-element.elementor-element-4e3d2e2c.elementor-position-top .elementor-image-box-img {
    margin-bottom: 20px;
}

.elementor-49453 .elementor-element.elementor-element-4e3d2e2c .elementor-image-box-wrapper .elementor-image-box-img {
    width: 23%;
}

.elementor-49453 .elementor-element.elementor-element-4e3d2e2c .elementor-image-box-img img {
    opacity: 0.8;
    transition-duration: 0.3s;
}

.elementor-49453 .elementor-element.elementor-element-4e3d2e2c:hover .elementor-image-box-img img {
    opacity: 1;
}

.elementor-49453 .elementor-element.elementor-element-4e3d2e2c .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-49453 .elementor-element.elementor-element-4e3d2e2c .elementor-image-box-title {
    margin-bottom: 10px;
    color: #111111;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.elementor-49453 .elementor-element.elementor-element-4e3d2e2c .elementor-image-box-description {
    color: #7A7A7A;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.elementor-49453 .elementor-element.elementor-element-4e3d2e2c>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-49453 .elementor-element.elementor-element-45a5cf6b:not(.elementor-motion-effects-element-type-background),
.elementor-49453 .elementor-element.elementor-element-45a5cf6b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #95DBBB;
    background-image: url("https://benessere-e-bellezza.com/wp-content/uploads/2020/09/osteodol-back.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-49453 .elementor-element.elementor-element-45a5cf6b>.elementor-background-overlay {
    opacity: 0.1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-49453 .elementor-element.elementor-element-45a5cf6b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 100px 30px 100px 30px;
    z-index: 9999;
}

.elementor-49453 .elementor-element.elementor-element-45a5cf6b>.elementor-shape-top svg {
    height: 30px;
}

.elementor-49453 .elementor-element.elementor-element-45a5cf6b>.elementor-shape-top {
    z-index: 2;
    pointer-events: none;
}

.elementor-49453 .elementor-element.elementor-element-45a5cf6b>.elementor-shape-bottom svg {
    width: calc(100% + 1.3px);
    height: 30px;
}

.elementor-49453 .elementor-element.elementor-element-718f367b>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-49453 .elementor-element.elementor-element-417c54c8 {
    --divider-border-style: double;
    --divider-color: #3DC1D3;
    --divider-border-width: 10px;
    --divider-element-spacing: 20px;
}

.elementor-49453 .elementor-element.elementor-element-417c54c8 .elementor-divider-separator {
    width: 300px;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-49453 .elementor-element.elementor-element-417c54c8 .elementor-divider {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-49453 .elementor-element.elementor-element-417c54c8 .elementor-divider__text {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 25px;
}

.elementor-49453 .elementor-element.elementor-element-417c54c8>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
}

.elementor-49453 .elementor-element.elementor-element-1db16591 {
    text-align: center;
}

.elementor-49453 .elementor-element.elementor-element-1db16591 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 82px;
    font-weight: 800;
    text-transform: capitalize;
}

.elementor-49453 .elementor-element.elementor-element-18dd64a9 {
    text-align: center;
}

.elementor-49453 .elementor-element.elementor-element-18dd64a9 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.8em;
}

.elementor-49453 .elementor-element.elementor-element-18dd64a9>.elementor-widget-container {
    margin: 30px 0px 50px 0px;
}

.elementor-49453 .elementor-element.elementor-element-53eddedb {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-49453 .elementor-element.elementor-element-6df19c33.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-49453 .elementor-element.elementor-element-6df19c33.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-49453 .elementor-element.elementor-element-5577fc71.elementor-position-right .elementor-image-box-img {
    margin-left: 20px;
}

.elementor-49453 .elementor-element.elementor-element-5577fc71.elementor-position-left .elementor-image-box-img {
    margin-right: 20px;
}

.elementor-49453 .elementor-element.elementor-element-5577fc71.elementor-position-top .elementor-image-box-img {
    margin-bottom: 20px;
}

.elementor-49453 .elementor-element.elementor-element-5577fc71 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 50%;
}

.elementor-49453 .elementor-element.elementor-element-5577fc71 .elementor-image-box-img img {
    opacity: 1;
    transition-duration: 0.3s;
}

.elementor-49453 .elementor-element.elementor-element-5577fc71:hover .elementor-image-box-img img {
    opacity: 1;
}

.elementor-49453 .elementor-element.elementor-element-5577fc71 .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-49453 .elementor-element.elementor-element-5577fc71 .elementor-image-box-title {
    margin-bottom: 2px;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

.elementor-49453 .elementor-element.elementor-element-5577fc71 .elementor-image-box-description {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
}

.elementor-49453 .elementor-element.elementor-element-5577fc71>.elementor-widget-container {
    margin: 30px 30px 30px 30px;
    padding: 20px 10px 20px 20px;
    background-color: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.elementor-49453 .elementor-element.elementor-element-20ff129e.elementor-position-right .elementor-image-box-img {
    margin-left: 20px;
}

.elementor-49453 .elementor-element.elementor-element-20ff129e.elementor-position-left .elementor-image-box-img {
    margin-right: 20px;
}

.elementor-49453 .elementor-element.elementor-element-20ff129e.elementor-position-top .elementor-image-box-img {
    margin-bottom: 20px;
}

.elementor-49453 .elementor-element.elementor-element-20ff129e .elementor-image-box-wrapper .elementor-image-box-img {
    width: 50%;
}

.elementor-49453 .elementor-element.elementor-element-20ff129e .elementor-image-box-img img {
    opacity: 1;
    transition-duration: 0.3s;
}

.elementor-49453 .elementor-element.elementor-element-20ff129e:hover .elementor-image-box-img img {
    opacity: 1;
}

.elementor-49453 .elementor-element.elementor-element-20ff129e .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-49453 .elementor-element.elementor-element-20ff129e .elementor-image-box-title {
    margin-bottom: 2px;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

.elementor-49453 .elementor-element.elementor-element-20ff129e .elementor-image-box-description {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
}

.elementor-49453 .elementor-element.elementor-element-20ff129e>.elementor-widget-container {
    margin: 30px 30px 30px 30px;
    padding: 20px 10px 20px 20px;
    background-color: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.elementor-bc-flex-widget .elementor-49453 .elementor-element.elementor-element-387027b2.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-49453 .elementor-element.elementor-element-387027b2.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-49453 .elementor-element.elementor-element-387027b2.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-49453 .elementor-element.elementor-element-387027b2:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-49453 .elementor-element.elementor-element-387027b2>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-49453 .elementor-element.elementor-element-387027b2>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #d7d7d9;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.05);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 15px 15px 15px 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
}

.elementor-49453 .elementor-element.elementor-element-387027b2>.elementor-element-populated,
.elementor-49453 .elementor-element.elementor-element-387027b2>.elementor-element-populated>.elementor-background-overlay,
.elementor-49453 .elementor-element.elementor-element-387027b2>.elementor-background-slideshow {
    border-radius: 3px 3px 3px 3px;
}

.elementor-49453 .elementor-element.elementor-element-387027b2>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-49453 .elementor-element.elementor-element-387027b2>.elementor-element-populated>.elementor-widget-wrap {
    padding: 20px 20px 20px 20px;
}

.elementor-49453 .elementor-element.elementor-element-387027b2 {
    z-index: 1;
}

.elementor-49453 .elementor-element.elementor-element-2b639198.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-49453 .elementor-element.elementor-element-2b639198.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-49453 .elementor-element.elementor-element-2b639198.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-49453 .elementor-element.elementor-element-2b639198 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 23%;
}

.elementor-49453 .elementor-element.elementor-element-2b639198 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-49453 .elementor-element.elementor-element-2b639198 .elementor-image-box-wrapper {
    text-align: center;
}

.elementor-49453 .elementor-element.elementor-element-2b639198 .elementor-image-box-title {
    margin-bottom: 10px;
    color: #999999;
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
}

.elementor-49453 .elementor-element.elementor-element-2b639198 .elementor-image-box-description {
    color: #111111;
    font-family: "Poppins", Sans-serif;
    font-size: 70px;
    font-weight: 700;
    line-height: 1em;
}

.elementor-49453 .elementor-element.elementor-element-2b639198>.elementor-widget-container {
    margin: 30px 0px 10px 0px;
}

.elementor-49453 .elementor-element.elementor-element-12508bc9 {
    text-align: center;
}

.elementor-49453 .elementor-element.elementor-element-12508bc9 .elementor-heading-title {
    color: #999999;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.3em;
}

.elementor-49453 .elementor-element.elementor-element-12508bc9>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
}

.elementor-49453 .elementor-element.elementor-element-6468db0f .elementor-button {
    font-family: "Nunito Sans", Sans-serif;
    font-size: 22px;
    font-weight: 900;
    fill: #ffffff;
    color: #ffffff;
    background-color: #C44569;
    padding: 25px 25px 25px 25px;
}

.elementor-bc-flex-widget .elementor-49453 .elementor-element.elementor-element-131e4a2b.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-49453 .elementor-element.elementor-element-131e4a2b.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-49453 .elementor-element.elementor-element-2a19f12d.elementor-position-right .elementor-image-box-img {
    margin-left: 20px;
}

.elementor-49453 .elementor-element.elementor-element-2a19f12d.elementor-position-left .elementor-image-box-img {
    margin-right: 20px;
}

.elementor-49453 .elementor-element.elementor-element-2a19f12d.elementor-position-top .elementor-image-box-img {
    margin-bottom: 20px;
}

.elementor-49453 .elementor-element.elementor-element-2a19f12d .elementor-image-box-wrapper .elementor-image-box-img {
    width: 50%;
}

.elementor-49453 .elementor-element.elementor-element-2a19f12d .elementor-image-box-img img {
    opacity: 1;
    transition-duration: 0.3s;
}

.elementor-49453 .elementor-element.elementor-element-2a19f12d:hover .elementor-image-box-img img {
    opacity: 1;
}

.elementor-49453 .elementor-element.elementor-element-2a19f12d .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-49453 .elementor-element.elementor-element-2a19f12d .elementor-image-box-title {
    margin-bottom: 2px;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

.elementor-49453 .elementor-element.elementor-element-2a19f12d .elementor-image-box-description {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
}

.elementor-49453 .elementor-element.elementor-element-2a19f12d>.elementor-widget-container {
    margin: 30px 30px 30px 30px;
    padding: 20px 10px 20px 20px;
    background-color: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.elementor-49453 .elementor-element.elementor-element-51ef07a9.elementor-position-right .elementor-image-box-img {
    margin-left: 20px;
}

.elementor-49453 .elementor-element.elementor-element-51ef07a9.elementor-position-left .elementor-image-box-img {
    margin-right: 20px;
}

.elementor-49453 .elementor-element.elementor-element-51ef07a9.elementor-position-top .elementor-image-box-img {
    margin-bottom: 20px;
}

.elementor-49453 .elementor-element.elementor-element-51ef07a9 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 50%;
}

.elementor-49453 .elementor-element.elementor-element-51ef07a9 .elementor-image-box-img img {
    opacity: 1;
    transition-duration: 0.3s;
}

.elementor-49453 .elementor-element.elementor-element-51ef07a9:hover .elementor-image-box-img img {
    opacity: 1;
}

.elementor-49453 .elementor-element.elementor-element-51ef07a9 .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-49453 .elementor-element.elementor-element-51ef07a9 .elementor-image-box-title {
    margin-bottom: 2px;
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

.elementor-49453 .elementor-element.elementor-element-51ef07a9 .elementor-image-box-description {
    color: #000000;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
}

.elementor-49453 .elementor-element.elementor-element-51ef07a9>.elementor-widget-container {
    margin: 30px 30px 30px 30px;
    padding: 20px 10px 20px 20px;
    background-color: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.elementor-49453 .elementor-element.elementor-element-246f223e {
    text-align: center;
}

.elementor-49453 .elementor-element.elementor-element-246f223e .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.8em;
}

.elementor-49453 .elementor-element.elementor-element-246f223e>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-49453 .elementor-element.elementor-element-6239dae4 {
    text-align: center;
}

.elementor-49453 .elementor-element.elementor-element-6239dae4 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8em;
}

.elementor-49453 .elementor-element.elementor-element-6239dae4>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-49453 .elementor-element.elementor-element-40665b8e .elementor-button {
    font-family: "Nunito Sans", Sans-serif;
    font-size: 22px;
    font-weight: 900;
    fill: #ffffff;
    color: #ffffff;
    background-color: #C44569;
    padding: 25px 25px 25px 25px;
}

.elementor-49453 .elementor-element.elementor-element-40665b8e>.elementor-widget-container {
    padding: 20px 0px 20px 0px;
}

.elementor-49453 .elementor-element.elementor-element-2f4e3f5b {
    text-align: center;
}

.elementor-49453 .elementor-element.elementor-element-2f4e3f5b .elementor-heading-title {
    font-family: "Open Sans", Sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.elementor-49453 .elementor-element.elementor-element-1f938fbe {
    text-align: center;
}

.elementor-49453 .elementor-element.elementor-element-1f938fbe .elementor-heading-title {
    font-family: "Open Sans", Sans-serif;
    font-size: 18px;
    font-weight: normal;
}

.elementor-49453 .elementor-element.elementor-element-29202065 {
    text-align: center;
}

.elementor-49453 .elementor-element.elementor-element-29202065 .elementor-heading-title {
    font-family: "Open Sans", Sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.elementor-49453 .elementor-element.elementor-element-117616c5 {
    text-align: center;
}

.elementor-49453 .elementor-element.elementor-element-117616c5 .elementor-heading-title {
    font-family: "Open Sans", Sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.4em;
}

.elementor-49453 .elementor-element.elementor-element-28261cd6 .elementor-icon-list-icon i {
    color: var( --e-global-color-68109324);
}

.elementor-49453 .elementor-element.elementor-element-28261cd6 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-68109324);
}

.elementor-49453 .elementor-element.elementor-element-28261cd6 {
    --e-icon-list-icon-size: 14px;
}

.elementor-49453 .elementor-element.elementor-element-28261cd6 .elementor-icon-list-text {
    color: var( --e-global-color-34366002);
}

.elementor-49453 .elementor-element.elementor-element-28261cd6 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-49453 .elementor-element.elementor-element-28261cd6 .elementor-icon-list-item>a {
    font-family: "Open Sans", Sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.elementor-49453 .elementor-element.elementor-element-2ef7a91a {
    text-align: center;
}

.elementor-49453 .elementor-element.elementor-element-2ef7a91a .elementor-heading-title {
    font-family: "Open Sans", Sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.elementor-49453 .elementor-element.elementor-element-1bab5aed {
    text-align: center;
}

.elementor-49453 .elementor-element.elementor-element-1bab5aed .elementor-heading-title {
    font-family: "Open Sans", Sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.4em;
}

.elementor-49453 .elementor-element.elementor-element-4dcf3971 .elementor-icon-list-icon i {
    color: var( --e-global-color-68109324);
}

.elementor-49453 .elementor-element.elementor-element-4dcf3971 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-68109324);
}

.elementor-49453 .elementor-element.elementor-element-4dcf3971 {
    --e-icon-list-icon-size: 14px;
}

.elementor-49453 .elementor-element.elementor-element-4dcf3971 .elementor-icon-list-text {
    color: var( --e-global-color-34366002);
}

.elementor-49453 .elementor-element.elementor-element-4dcf3971 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-49453 .elementor-element.elementor-element-4dcf3971 .elementor-icon-list-item>a {
    font-family: "Open Sans", Sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.elementor-49453 .elementor-element.elementor-element-19a5abb1:not(.elementor-motion-effects-element-type-background),
.elementor-49453 .elementor-element.elementor-element-19a5abb1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #C90505;
}

.elementor-49453 .elementor-element.elementor-element-19a5abb1 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-49453 .elementor-element.elementor-element-19a5abb1>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-49453 .elementor-element.elementor-element-521e57a3 .elementor-icon-list-icon i {
    color: var( --e-global-color-49268986);
}

.elementor-49453 .elementor-element.elementor-element-521e57a3 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-49268986);
}

.elementor-49453 .elementor-element.elementor-element-521e57a3 {
    --e-icon-list-icon-size: 14px;
}

.elementor-49453 .elementor-element.elementor-element-521e57a3 .elementor-icon-list-text {
    color: var( --e-global-color-49268986);
}

.elementor-49453 .elementor-element.elementor-element-521e57a3 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-49453 .elementor-element.elementor-element-521e57a3 .elementor-icon-list-item>a {
    font-family: "Open Sans", Sans-serif;
    font-size: 27px;
    font-weight: 400;
}

@media(min-width:768px) {
    .elementor-49453 .elementor-element.elementor-element-76d95bb8 {
        width: 33.389%;
    }
    .elementor-49453 .elementor-element.elementor-element-5e078909 {
        width: 32.975%;
    }
    .elementor-49453 .elementor-element.elementor-element-2d133754 {
        width: 33.3%;
    }
}

@media(max-width:1024px) {
    .elementor-49453 .elementor-element.elementor-element-36b462a7 .elementor-heading-title {
        font-size: 13px;
    }
    .elementor-49453 .elementor-element.elementor-element-76d95bb8>.elementor-element-populated {
        margin: 15px 15px 15px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
    }
    .elementor-49453 .elementor-element.elementor-element-76d95bb8>.elementor-element-populated>.elementor-widget-wrap {
        padding: 15px 15px 15px 15px;
    }
    .elementor-49453 .elementor-element.elementor-element-5ff1abd0 img {
        width: 100px;
    }
    .elementor-49453 .elementor-element.elementor-element-5ff1abd0>.elementor-widget-container {
        margin: 0px 0px 15px 0px;
    }
    .elementor-49453 .elementor-element.elementor-element-cdc3fe6 .elementor-image-box-title {
        font-size: 17px;
    }
    .elementor-49453 .elementor-element.elementor-element-cdc3fe6 .elementor-image-box-description {
        font-size: 13px;
    }
    .elementor-49453 .elementor-element.elementor-element-cdc3fe6>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-49453 .elementor-element.elementor-element-5e078909>.elementor-element-populated {
        margin: 15px 15px 15px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
    }
    .elementor-49453 .elementor-element.elementor-element-5e078909>.elementor-element-populated>.elementor-widget-wrap {
        padding: 15px 15px 15px 15px;
    }
    .elementor-49453 .elementor-element.elementor-element-1369a8f6 img {
        width: 100px;
    }
    .elementor-49453 .elementor-element.elementor-element-1369a8f6>.elementor-widget-container {
        margin: 0px 0px 15px 0px;
    }
    .elementor-49453 .elementor-element.elementor-element-434041c4 .elementor-image-box-title {
        font-size: 17px;
    }
    .elementor-49453 .elementor-element.elementor-element-434041c4 .elementor-image-box-description {
        font-size: 13px;
    }
    .elementor-49453 .elementor-element.elementor-element-434041c4>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-49453 .elementor-element.elementor-element-2d133754>.elementor-element-populated {
        margin: 15px 15px 15px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
    }
    .elementor-49453 .elementor-element.elementor-element-2d133754>.elementor-element-populated>.elementor-widget-wrap {
        padding: 15px 15px 15px 15px;
    }
    .elementor-49453 .elementor-element.elementor-element-139fffac img {
        width: 100px;
    }
    .elementor-49453 .elementor-element.elementor-element-139fffac>.elementor-widget-container {
        margin: 0px 0px 15px 0px;
    }
    .elementor-49453 .elementor-element.elementor-element-4e3d2e2c .elementor-image-box-title {
        font-size: 17px;
    }
    .elementor-49453 .elementor-element.elementor-element-4e3d2e2c .elementor-image-box-description {
        font-size: 13px;
    }
    .elementor-49453 .elementor-element.elementor-element-4e3d2e2c>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-49453 .elementor-element.elementor-element-45a5cf6b:not(.elementor-motion-effects-element-type-background),
    .elementor-49453 .elementor-element.elementor-element-45a5cf6b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: -144px 0px;
    }
    .elementor-49453 .elementor-element.elementor-element-45a5cf6b>.elementor-background-overlay {
        background-position: 0px 0px;
    }
    .elementor-49453 .elementor-element.elementor-element-45a5cf6b {
        padding: 30px 30px 0px 30px;
    }
    .elementor-49453 .elementor-element.elementor-element-1db16591 .elementor-heading-title {
        font-size: 40px;
    }
    .elementor-49453 .elementor-element.elementor-element-18dd64a9 .elementor-heading-title {
        font-size: 12px;
    }
    .elementor-49453 .elementor-element.elementor-element-5577fc71 .elementor-image-box-title {
        font-size: 18px;
    }
    .elementor-49453 .elementor-element.elementor-element-5577fc71 .elementor-image-box-description {
        font-size: 13px;
    }
    .elementor-49453 .elementor-element.elementor-element-5577fc71>.elementor-widget-container {
        margin: 0px 15px 15px 0px;
    }
    .elementor-49453 .elementor-element.elementor-element-20ff129e .elementor-image-box-title {
        font-size: 18px;
    }
    .elementor-49453 .elementor-element.elementor-element-20ff129e .elementor-image-box-description {
        font-size: 13px;
    }
    .elementor-49453 .elementor-element.elementor-element-20ff129e>.elementor-widget-container {
        margin: 0px 15px 15px 0px;
    }
    .elementor-49453 .elementor-element.elementor-element-387027b2>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-49453 .elementor-element.elementor-element-387027b2>.elementor-element-populated>.elementor-widget-wrap {
        padding: 30px 20px 30px 20px;
    }
    .elementor-49453 .elementor-element.elementor-element-2b639198 .elementor-image-box-title {
        font-size: 11px;
        letter-spacing: 0px;
    }
    .elementor-49453 .elementor-element.elementor-element-2b639198 .elementor-image-box-description {
        font-size: 40px;
    }
    .elementor-49453 .elementor-element.elementor-element-2b639198>.elementor-widget-container {
        margin: 15px 0px 10px 0px;
    }
    .elementor-49453 .elementor-element.elementor-element-12508bc9 .elementor-heading-title {
        font-size: 12px;
    }
    .elementor-49453 .elementor-element.elementor-element-6468db0f .elementor-button {
        font-size: 14px;
        padding: 15px 10px 15px 10px;
    }
    .elementor-49453 .elementor-element.elementor-element-131e4a2b>.elementor-element-populated {
        margin: 0px 0px 0px 10px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 10px;
    }
    .elementor-49453 .elementor-element.elementor-element-2a19f12d .elementor-image-box-title {
        font-size: 18px;
    }
    .elementor-49453 .elementor-element.elementor-element-2a19f12d .elementor-image-box-description {
        font-size: 13px;
    }
    .elementor-49453 .elementor-element.elementor-element-2a19f12d>.elementor-widget-container {
        margin: 0px 15px 15px 0px;
    }
    .elementor-49453 .elementor-element.elementor-element-51ef07a9 .elementor-image-box-title {
        font-size: 18px;
    }
    .elementor-49453 .elementor-element.elementor-element-51ef07a9 .elementor-image-box-description {
        font-size: 13px;
    }
    .elementor-49453 .elementor-element.elementor-element-51ef07a9>.elementor-widget-container {
        margin: 0px 15px 15px 0px;
    }
    .elementor-49453 .elementor-element.elementor-element-246f223e .elementor-heading-title {
        font-size: 15px;
    }
    .elementor-49453 .elementor-element.elementor-element-6239dae4 .elementor-heading-title {
        font-size: 20px;
        line-height: 1.3em;
    }
    .elementor-49453 .elementor-element.elementor-element-40665b8e .elementor-button {
        font-size: 14px;
        padding: 15px 10px 15px 10px;
    }
    .elementor-49453 .elementor-element.elementor-element-40665b8e>.elementor-widget-container {
        margin: -20px 0px 50px 0px;
    }
}

@media(max-width:767px) {
    .elementor-49453 .elementor-element.elementor-element-36b462a7 .elementor-heading-title {
        font-size: 12px;
    }
    .elementor-49453 .elementor-element.elementor-element-6d47337d>.elementor-widget-container {
        margin: -15px 0px 0px 0px;
    }
    .elementor-49453 .elementor-element.elementor-element-76d95bb8 {
        width: 100%;
    }
    .elementor-49453 .elementor-element.elementor-element-76d95bb8>.elementor-element-populated {
        margin: 10px 10px 30px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
    }
    .elementor-49453 .elementor-element.elementor-element-cdc3fe6 .elementor-image-box-img {
        margin-bottom: 20px;
    }
    .elementor-49453 .elementor-element.elementor-element-cdc3fe6 .elementor-image-box-wrapper {
        text-align: left;
    }
    .elementor-49453 .elementor-element.elementor-element-cdc3fe6 .elementor-image-box-title {
        font-size: 18px;
    }
    .elementor-49453 .elementor-element.elementor-element-cdc3fe6 .elementor-image-box-description {
        font-size: 14px;
    }
    .elementor-49453 .elementor-element.elementor-element-cdc3fe6>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-49453 .elementor-element.elementor-element-cdc3fe6 {
        width: initial;
        max-width: initial;
    }
    .elementor-49453 .elementor-element.elementor-element-5e078909 {
        width: 100%;
    }
    .elementor-49453 .elementor-element.elementor-element-5e078909>.elementor-element-populated {
        margin: 10px 10px 30px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
    }
    .elementor-49453 .elementor-element.elementor-element-434041c4 .elementor-image-box-img {
        margin-bottom: 20px;
    }
    .elementor-49453 .elementor-element.elementor-element-434041c4 .elementor-image-box-wrapper {
        text-align: left;
    }
    .elementor-49453 .elementor-element.elementor-element-434041c4 .elementor-image-box-title {
        font-size: 18px;
    }
    .elementor-49453 .elementor-element.elementor-element-434041c4 .elementor-image-box-description {
        font-size: 14px;
    }
    .elementor-49453 .elementor-element.elementor-element-434041c4>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-49453 .elementor-element.elementor-element-434041c4 {
        width: initial;
        max-width: initial;
    }
    .elementor-49453 .elementor-element.elementor-element-2d133754 {
        width: 100%;
    }
    .elementor-49453 .elementor-element.elementor-element-2d133754>.elementor-element-populated {
        margin: 10px 10px 30px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
    }
    .elementor-49453 .elementor-element.elementor-element-4e3d2e2c .elementor-image-box-img {
        margin-bottom: 20px;
    }
    .elementor-49453 .elementor-element.elementor-element-4e3d2e2c .elementor-image-box-wrapper {
        text-align: left;
    }
    .elementor-49453 .elementor-element.elementor-element-4e3d2e2c .elementor-image-box-title {
        font-size: 18px;
    }
    .elementor-49453 .elementor-element.elementor-element-4e3d2e2c .elementor-image-box-description {
        font-size: 14px;
    }
    .elementor-49453 .elementor-element.elementor-element-4e3d2e2c>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-49453 .elementor-element.elementor-element-4e3d2e2c {
        width: initial;
        max-width: initial;
    }
    .elementor-49453 .elementor-element.elementor-element-45a5cf6b:not(.elementor-motion-effects-element-type-background),
    .elementor-49453 .elementor-element.elementor-element-45a5cf6b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: 0px 0px;
    }
    .elementor-49453 .elementor-element.elementor-element-45a5cf6b>.elementor-background-overlay {
        background-position: 0px 0px;
    }
    .elementor-49453 .elementor-element.elementor-element-45a5cf6b>.elementor-shape-bottom svg {
        height: 50px;
    }
    .elementor-49453 .elementor-element.elementor-element-45a5cf6b {
        padding: 50px 15px 0px 15px;
    }
    .elementor-49453 .elementor-element.elementor-element-417c54c8 .elementor-divider-separator {
        width: 100%;
    }
    .elementor-49453 .elementor-element.elementor-element-1db16591 .elementor-heading-title {
        font-size: 23px;
    }
    .elementor-49453 .elementor-element.elementor-element-18dd64a9 {
        text-align: left;
    }
    .elementor-49453 .elementor-element.elementor-element-18dd64a9 .elementor-heading-title {
        font-size: 16px;
    }
    .elementor-49453 .elementor-element.elementor-element-6df19c33 {
        width: 100%;
    }
    .elementor-49453 .elementor-element.elementor-element-5577fc71 .elementor-image-box-img {
        margin-bottom: 10px;
    }
    .elementor-49453 .elementor-element.elementor-element-5577fc71.elementor-position-right .elementor-image-box-img {
        margin-left: 10px;
    }
    .elementor-49453 .elementor-element.elementor-element-5577fc71.elementor-position-left .elementor-image-box-img {
        margin-right: 10px;
    }
    .elementor-49453 .elementor-element.elementor-element-5577fc71.elementor-position-top .elementor-image-box-img {
        margin-bottom: 10px;
    }
    .elementor-49453 .elementor-element.elementor-element-5577fc71 .elementor-image-box-wrapper .elementor-image-box-img {
        width: 50%;
    }
    .elementor-49453 .elementor-element.elementor-element-5577fc71 .elementor-image-box-wrapper {
        text-align: center;
    }
    .elementor-49453 .elementor-element.elementor-element-5577fc71>.elementor-widget-container {
        margin: 20px 20px 20px 20px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-49453 .elementor-element.elementor-element-5577fc71 {
        width: initial;
        max-width: initial;
    }
    .elementor-49453 .elementor-element.elementor-element-20ff129e .elementor-image-box-img {
        margin-bottom: 10px;
    }
    .elementor-49453 .elementor-element.elementor-element-20ff129e.elementor-position-right .elementor-image-box-img {
        margin-left: 10px;
    }
    .elementor-49453 .elementor-element.elementor-element-20ff129e.elementor-position-left .elementor-image-box-img {
        margin-right: 10px;
    }
    .elementor-49453 .elementor-element.elementor-element-20ff129e.elementor-position-top .elementor-image-box-img {
        margin-bottom: 10px;
    }
    .elementor-49453 .elementor-element.elementor-element-20ff129e .elementor-image-box-wrapper .elementor-image-box-img {
        width: 50%;
    }
    .elementor-49453 .elementor-element.elementor-element-20ff129e .elementor-image-box-wrapper {
        text-align: center;
    }
    .elementor-49453 .elementor-element.elementor-element-20ff129e>.elementor-widget-container {
        margin: 20px 20px 20px 20px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-49453 .elementor-element.elementor-element-20ff129e {
        width: initial;
        max-width: initial;
    }
    .elementor-49453 .elementor-element.elementor-element-387027b2 {
        width: 100%;
    }
    .elementor-49453 .elementor-element.elementor-element-387027b2>.elementor-element-populated {
        border-width: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-49453 .elementor-element.elementor-element-387027b2>.elementor-element-populated>.elementor-widget-wrap {
        padding: 30px 30px 30px 30px;
    }
    .elementor-49453 .elementor-element.elementor-element-2b639198 .elementor-image-box-img {
        margin-bottom: 15px;
    }
    .elementor-49453 .elementor-element.elementor-element-2b639198 .elementor-image-box-wrapper {
        text-align: center;
    }
    .elementor-49453 .elementor-element.elementor-element-2b639198 .elementor-image-box-description {
        font-size: 23px;
    }
    .elementor-49453 .elementor-element.elementor-element-2b639198>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-49453 .elementor-element.elementor-element-6468db0f .elementor-button {
        font-size: 20px;
    }
    .elementor-49453 .elementor-element.elementor-element-131e4a2b>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-49453 .elementor-element.elementor-element-2a19f12d .elementor-image-box-img {
        margin-bottom: 10px;
    }
    .elementor-49453 .elementor-element.elementor-element-2a19f12d.elementor-position-right .elementor-image-box-img {
        margin-left: 10px;
    }
    .elementor-49453 .elementor-element.elementor-element-2a19f12d.elementor-position-left .elementor-image-box-img {
        margin-right: 10px;
    }
    .elementor-49453 .elementor-element.elementor-element-2a19f12d.elementor-position-top .elementor-image-box-img {
        margin-bottom: 10px;
    }
    .elementor-49453 .elementor-element.elementor-element-2a19f12d .elementor-image-box-wrapper .elementor-image-box-img {
        width: 50%;
    }
    .elementor-49453 .elementor-element.elementor-element-2a19f12d .elementor-image-box-wrapper {
        text-align: center;
    }
    .elementor-49453 .elementor-element.elementor-element-2a19f12d>.elementor-widget-container {
        margin: 20px 20px 20px 20px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-49453 .elementor-element.elementor-element-2a19f12d {
        width: initial;
        max-width: initial;
    }
    .elementor-49453 .elementor-element.elementor-element-51ef07a9 .elementor-image-box-img {
        margin-bottom: 10px;
    }
    .elementor-49453 .elementor-element.elementor-element-51ef07a9.elementor-position-right .elementor-image-box-img {
        margin-left: 10px;
    }
    .elementor-49453 .elementor-element.elementor-element-51ef07a9.elementor-position-left .elementor-image-box-img {
        margin-right: 10px;
    }
    .elementor-49453 .elementor-element.elementor-element-51ef07a9.elementor-position-top .elementor-image-box-img {
        margin-bottom: 10px;
    }
    .elementor-49453 .elementor-element.elementor-element-51ef07a9 .elementor-image-box-wrapper .elementor-image-box-img {
        width: 50%;
    }
    .elementor-49453 .elementor-element.elementor-element-51ef07a9 .elementor-image-box-wrapper {
        text-align: center;
    }
    .elementor-49453 .elementor-element.elementor-element-51ef07a9>.elementor-widget-container {
        margin: 20px 20px 20px 20px;
        padding: 20px 20px 20px 20px;
    }
    .elementor-49453 .elementor-element.elementor-element-51ef07a9 {
        width: initial;
        max-width: initial;
    }
    .elementor-49453 .elementor-element.elementor-element-246f223e .elementor-heading-title {
        font-size: 15px;
    }
    .elementor-49453 .elementor-element.elementor-element-6239dae4 .elementor-heading-title {
        font-size: 15px;
    }
    .elementor-49453 .elementor-element.elementor-element-40665b8e .elementor-button {
        font-size: 15px;
    }
    .elementor-49453 .elementor-element.elementor-element-40665b8e>.elementor-widget-container {
        margin: 0px 0px 50px 0px;
    }
}

/* Start custom CSS for image-box, class: .elementor-element-2b639198 */

.elementor-49453 .elementor-element.elementor-element-2b639198 b {
    color: #ffffff;
}

/* End custom CSS */

/* Start custom CSS for heading, class: .elementor-element-12508bc9 */

.elementor-49453 .elementor-element.elementor-element-12508bc9 b {
    text-decoration: line-through;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-button {
    width: 8px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border: thin solid gray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #eee;
}

/* End custom CSS */